// ==========================================
// 3. LAYOUT & TYPOGRAPHY
// ==========================================

// Import fonts defined in tokens/quarto variables? 
// No, standard CSS import is better in rules or in _tokens if allowed.
// But _tokens is defaults.
// Let's put the font import here or in main.

// 4. TYPOGRAPHY GÉNÉRALE
body {
    font-family: $font-family-base;
    font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $sol-base01;
    font-weight: $headings-font-weight;
    font-variation-settings: 'MONO' 0, 'CASL' 0.5;
}

pre,
code,
kbd,
samp {
    font-family: $font-family-code;
    font-variation-settings: 'MONO' 1;
    font-size: 0.9em;
}

// 5. GESTION DES LIENS (Corps du texte)
main {
    a {
        color: $sol-blue;
        text-decoration: none;
        border-bottom: 1px dotted transparent;
        transition: all 0.2s ease;

        &:visited {
            color: $sol-violet !important;
        }

        &:hover {
            color: $sol-orange !important;
            border-bottom-color: $sol-orange;
        }
    }
}