// ==========================================
// 4. SIDEBAR NAVIGATION
// ==========================================

div.sidebar-item-container .sidebar-item-text.sidebar-link {
    color: $sol-base01 !important;
    font-family: $font-family-base;
    font-variation-settings: 'MONO' 0, 'CASL' 0.5;

    &:visited {
        color: $sol-base01 !important;
    }

    &:hover {
        color: $sol-orange !important;
        background-color: rgba(0, 0, 0, 0.03);
    }
}

div.sidebar-item-container .sidebar-item-text.sidebar-link.active {
    color: $sol-blue !important;
    font-weight: 800;
    border-left: 3px solid $sol-blue;
    background-color: transparent;
    padding-left: 0.8rem;
}

// Titre du menu gauche
.sidebar-title {
    color: $sol-base02;
    font-weight: 900;
}