// ==========================================
// 5. TABLE OF CONTENTS (Right Sidebar)
// ==========================================

#quarto-toc {

    // Les liens inactifs de la TOC
    .nav-link {
        color: $sol-base01;
        font-family: $font-family-base;
        font-size: 0.85em;
        font-variation-settings: 'MONO' 0, 'CASL' 0.5;
        transition: color 0.2s ease;

        &:hover {
            color: $sol-orange !important;
        }
    }
}

// L'élément ACTIF (Vert Solarized)
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    color: $sol-green !important;
    font-weight: 700;

    // La petite barre verticale à gauche de l'élément actif
    border-left: 2px solid $sol-green !important;
    padding-left: 10px;
    background-color: transparent;
}